.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

/* only displayed if max-width is 499px */
@media (min-width:500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

/* translate back to its original position ie it closes the sideDrawer */
.Close {
    transform: translateX(-100%);
}

.Logo{
    height: 11%;
    margin-bottom: 12px;
    
}